body {
    font-size: 12px;
    font-family: sans-serif;
    background: #313E51;
    color: gold;
    text-shadow: 0 0 10px gold;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
    line-height: 1000%;
    color: red;
}

#map {
    margin: 10px auto;
    width: 27px;
    outline: 3px solid black;
}

.mapdot, #field {
    background: #66C07A;
}

.mapdot {
    float: left;
    width: 9px;
    height: 6px;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

.mapdot:nth-child(odd) {
    background: #56CD67;
}

.mapdot.first {
    clear: both;
}

.mapdot.active {
    background: #467DBD;
    box-shadow: inset 0 0 3px #313E51;
}

.clearer {
    clear: both;
}

#field {
    position: relative;
    margin: 0 auto 10px auto;
    padding: 0;
    width: 600px;
    height: 400px;
    box-shadow: inset -70px 70px 300px rgba(255, 215, 0, 0.2);
    outline: 3px solid black;
}

#hero, #monster {
    position: absolute;
    padding: 0;
}

/*shadow effect:*/
#hero::after, #monster::after {
    content: '.';
    position: absolute;
    top: 90%;
    width: 80%;
    height: 20%;
    border-radius: 50%;
    background: rgba(0,0,0,0.1);
    color: transparent;
    left: 10%;
}

#hero {
    height: 35px;
    width: 35px;
    /*background: url('img/zelda-sprites-link.png');*/
    background-size: 2170%;
}

#hero.hurt {
    background: red;
}

#hero.up {
    /*background-position: -87% 0;*/
    background: url('img/hero/up.png');
}

#hero.down {
    /*background-position: -87% 0;*/
    background: url('img/hero/down.png');
}

#hero.right {
    /*background-position: -78% 0;*/
    background: url('img/hero/right.png');
}

#hero.left {
    /*background-position: 8.8% 0;*/
    background: url('img/hero/left.png');
}

#sword {
    display: none;
    position: absolute;
    background: #ECF0F1;
}

#sword.shown {
    display: block;
}

#sword.up {
    box-shadow: inset 0 -10px 10px #530;
}

#sword.right {
    box-shadow: inset 10px 0 10px #530;
}

#sword.down {
    box-shadow: inset 0 10px 10px #530;
}

#sword.left {
    box-shadow: inset -10px 0 10px #530;
}



#monster {
    background: orange;
}


.hpBar {
    position: absolute;
    margin-top: -4px;
    outline: 1px solid rgba(0,0,0,0.5);
    width: 100%;
    height: 3px;
    background: rgba(200, 0, 0, 0.5);
}

.hp {
    height: 3px;
    background: rgba(0, 200, 0, 0.5);
}

/* colors: http://t3n.de/news/richtigen-farben-furs-461082/flat_design_2/ */

.tree {
    position: absolute;
    background: url('img/obstacles/tree.png');
}